section {
    padding-top: 2rem;
    background-image: url("");
  }

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  
@media (min-width: 768px) {
    .container {
      max-width: 960px;
    }
}
  
  h1,
  h2 {
    margin-bottom: 1rem;
  
    font-family: "Great Vibes", fantasy;
    font-weight: 400;
    font-size: 3rem;
  }
  
  h2 {
    text-align: center;
  }
  
  h3 {
    text-transform: uppercase;
  }

@media (min-width: 768px) {
  
    .banner__content {
        width: 30%;

        margin-left: 65%;
        padding-top: 4rem;

        text-align: center;
    }  
}